@media (min-width:992px) {
    /*============header==========*/
    * header .nav .list {
            display: flex;
            gap: 30px;
        }
        header .nav .search {
            display: block;
        }
        header .nav .bars button {
            display: none;
        }

        /*================home page==========*/

 /*================get rather==========*/



.get-flex {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

/*================what we do grid==========*/

.what-we-flex {
    display: flex;
    padding-bottom: 50px;
    gap: 20px;
    flex-direction: row;
}
/*================Our invention==========*/

.our-flex {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

/*================gallery==========*/
.gallery .img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*===============hero images===========*/

/*===============our article===========*/

.box-1 .flex {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 20px;
    padding-bottom: 10px;
}
.our-article-p .box-1 {
    height: auto;
    max-width: fit-content;
    border: 2px solid transparent;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.034);

}
/*===============dont==========*/

.dont-p .dont-flex .right-text input {
    height: 50px;
    width: 200px;
    
}
.dont-p .dont-flex {
    display: flex;
}
.dont-p .dont-flex .right-text {
    display: flex;
    gap: 10px;
}

.dont-p .dont-flex .right-text button {
    height: 50px;
    width: 150px;
   
}
.dont-p .dont-flex .left-text {
    color: #f7f7f9;
    flex: 1;
}
/*===============footer===========*/

.footer .footer-flex {
    padding-top: 100px;
}

.footer-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.footer-flex .link {
    text-align: center;
}


}