@media (min-width:1200px) {
        /*============header==========*/

        /*================home page==========*/

        
        /*================get rather==========*/
.get-flex {
        display: flex;
        gap: 40px;
        flex-direction: row;
    }
/*================what we do grid==========*/

/*================Our invention==========*/

.our-flex {
        display: flex;
        gap: 20px;
        flex-direction: row;
}

/*================gallery==========*/

/*===============hero images===========*/

/*===============our article===========*/


/*===============dont==========*/
.dont {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(banner6.jpg);
        background-size: cover;
        background-position: center;
        max-width: 100%;
        position: relative;
        margin-bottom: -100px;
        z-index: 0;
        margin-left: 80px;
        margin-right: 80px;
}
.dont-p .dont-flex .right-text input {
        height: 50px;
        width: 250px;

}

/*===============footer==========*/


.footer .footer-flex {
        padding-top: 200px;
}

.footer-flex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
}
}